/*Body CSS*/

.body,html{
    height:100%;
    font-family:'Rubik Mono One', sans-serif;
    background-image: url(C:/Users/cgi/Documents/webSite/img/BG-Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*Body CSS ends*/

/*Navigation CSS*/
.navbar-text{
    color:white;

}
.nav-link{
    color:white;
    float: left;
}
.navbar-brand:hover{
    size:20px;
}


.topnav{
    list-style-type: none;
    padding-left: 20px;
    overflow :hidden;
    color: whitesmoke;
}
.navbar-toggler{
    color:white;
}
.navbar-brand{
    float:left;
}


.jumbotron{
    margin:auto;
    padding-left: 0px;

}
a{
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    padding:10px;
    text-align: center;
    color: white;
    text-decoration: none;
    height:20%;
    text-emphasis :inheri
}
#navbarDropdown{
    color:white;
}
#navbarDropdown:hover{
    color:orange;
    font-size: 30px;
}
.navbar-toggler{
    color: white;
}

.navbar-toggler-icon{
    background-color: white;
}
#searchButton{
    color:black;
    background-color: white;
    border-color: white;
}

/*a:hover{
    font-size:30px;
    overflow: hidden;
}
.nav-link:hover{
    color: orange;
*/
/*Navigation bar CSS ends*/

/*Carousel css*/

.carousel-inner img{
    width:100%;
    height:100%;
    margin:auto;
}
.carousel-inner{
    background-color: black;
}
.carousel-indicators li{
    align-items: center;
}
#carousel-image{
    width:100%;
}

/*Carousel css ends*/

/*Footer css*/
#footer-element{
    background-color:#343a40;
    height:200px;
    width:100%;
}
.footer-control{
    background-color: #343a40;
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
    margin-left:0px;
    margin-right: 0px;
    width:100%;
    padding-bottom: 20px;
    clear:both;
    color: white;
}

/*Carousel css ends*/

/*Jumbotron css*/
#jumbotron{
    background: white;
    margin-bottom: 0;
    padding-left: 20px;

}

/*Jumbotron css ends*/
